* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #74ebd5, #9face6);
}

.login-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-box {
    background: white;
    padding: 30px;
    width: 320px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
}

.input-box {
    margin-bottom: 15px;
}

.input-box input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.input-box input:focus {
    border-color: #6c63ff;
}

.forget a {
    text-decoration: none;
    color: #6c63ff;
    font-size: 14px;
}

.forget a:hover {
    text-decoration: underline;
}
button {
    margin-top:5px;
    width: 100%;
    padding: 12px;
    border: none;
    background: #6c63ff;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #574bdb;
}

.signup-text {
    margin-top: 15px;
    font-size: 14px;
}

.signup-text a {
    color: #6c63ff;
    text-decoration: none;
}

.signup-text a:hover {
    text-decoration: underline;
}